.modal-show {
  display: flex !important;
}

#create-btn {
  position: absolute;
  width: 10rem;
  height: 4rem;
  bottom: 4rem;
  right: 4rem;
  border-radius: 1rem;
  border: 0px;
  font-size: large;
  color: white;
  padding: 0.5rem;
  background-color: blueviolet;
  box-shadow: 0px 0px 20px 5px rgb(206, 206, 206);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  animation: zoomer 1s infinite ease-in-out;
}
#create-btn:hover {
  background-color: purple;
  animation: none;
}

#create-div-modal {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  backdrop-filter: blur(5px);
}

#create-div-form {
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px 5px rgb(206, 206, 206);
  justify-content: space-around;
  border-radius: 20px;
  height: 70%;
  width: 70%;
  word-spacing: 0.5rem;
  letter-spacing: 0.1rem;
  color: white;
}
#create-div-form input {
  width: 80%;
  height: 2rem;
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border-bottom: 1px solid white;
}
#create-div-form input::-moz-placeholder, #create-div-form input::-webkit-input-placeholder, #create-div-form input::-ms-input-placeholder, #create-div-form input:-ms-input-placeholder, #create-div-form input:-moz-placeholder, #create-div-form input::placeholder {
  color: white;
  opacity: 1;
}
#create-div-form input:focus {
  outline: none;
}
#create-div-form input[type=submit] {
  background-color: purple;
  border: 0;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 40%;
  height: 3rem;
  transition: all 0.2s ease-in-out;
}
#create-div-form input[type=submit]:hover {
  background-color: blueviolet;
  box-shadow: 1px 1px 0px 1px white;
}

#create-div-btns {
  width: 100%;
  text-align: center;
}

#create-div-close {
  background-color: purple;
  transition: all 0.2s ease-in-out;
  border: 0;
  cursor: pointer;
  color: white;
  border-radius: 0.5rem;
  width: 40%;
  height: 3rem;
  font-size: 1.2rem;
}
#create-div-close:hover {
  background-color: blueviolet;
  box-shadow: 1px 1px 0px 1px white;
}

#list-div {
  width: 80%;
  margin: auto;
  text-align: center;
}
#list-div #list-title {
  text-transform: uppercase;
  background: rgb(0, 95, 255);
  background: linear-gradient(90deg, rgb(0, 95, 255) 0%, rgb(250, 69, 252) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#list-div #list-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
#list-div #list-projects .list-projects-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 90%;
}
#list-div #list-projects .list-projects-class .list-projects-title-container small {
  color: grey;
}
#list-div #list-projects .list-projects-class .list-projects-title-container .list-projects-title {
  font-size: 1.5rem;
}
#list-div #list-projects .list-projects-class .list-projects-details-btn {
  padding: 0.5rem;
  height: 3rem;
  border-radius: 1.2rem;
  color: white;
  border: 0;
  background-color: blueviolet;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
#list-div #list-projects .list-projects-class .list-projects-details-btn a {
  color: white;
  text-decoration: none;
}
#list-div #list-projects .list-projects-class .list-projects-details-btn:hover {
  background-color: purple;
}

@keyframes zoomer {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
